@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

<link href="~/lib/gijgo/css/gijgo.css" rel="stylesheet" />
<div class="container">
    <h2>Uploaded Files</h2>
    <table id="grid"></table>
</div>

<script src="/lib/gijgo/js/gijgo.min.js"></script>
<script src="/js/uploadinfo.js"></script>